<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div id="root">

      <div id="svg">
      </div>

      <form action="get" id="form">
        <input type="file" name="data_file" id="data_file" />
        <input type="submit" />
        <p>
          <input type="button" value="Save svg (Chrome only)" id="save" />
        <p>
      </form>
    </div>
    <script type="text/javascript" src="/build/bundle.js"></script>
  </body>
</html>
